:root{
    --backcolor: rgba( 14.12%, 14.51% , 16.47%, 1);
}

*{
    box-sizing: border-box;
    padding: 0rem;
    margin: 0.5rem;
}

body{
    background-color: var(--backcolor);
}

#input-el{
    width: 90%;
    height: 2rem;
    font-size: 1.5rem;
    background-color: var(--backcolor);
    border: 2px solid aqua;
    border-radius: 2rem;
    color: white;
    padding: 0.3rem;
}

button{
    background-color: var(--backcolor);
    font-size: 1rem;
    background-color: var(--backcolor);
    border: 2px solid aqua;
    border-radius: 2rem;
    color: white;
    padding: 0.6rem;
    color: aqua;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: aqua;
    color: var(--backcolor);
}

#ul-el{
    color: white;
    text-decoration: none;
    font-size: 2ch;
}