:root{
    --backcolor: #121212;
}

body{
    background-color: var(--backcolor);
    text-align: center;
}

#startScreen{
    text-align: center;
    margin-top: 5rem;
}

h1{
    font-size: 4rem;
    color: aqua;
    text-shadow: 0.2rem 0.2rem black;
}

#score{
    font-size: 3.5rem;
    color: aqua;
    text-shadow: 0.2rem 0.2rem black;
}

button{
    background-color: var(--backcolor);
    color: aqua;
    border: 2px solid aqua;
    border-radius: 2rem;
    font-size: 1.8rem;
    height: 3rem;
    width: 8rem;
    margin: 1rem;
    transition: all 0.3s ease 0s;
}

button:hover{
    color: var(--backcolor);
    background-color: aqua;
}

#game{
    display: none;
    text-align: center;
}

#backBtn{
    position: absolute;
    background-color: transparent;
    top: 1vh;
    left: 1vw;
    border: 0;
    margin: 0;
}

#gamescore{
    font-size: 2rem;
    color: aqua;
    text-shadow: 0.2rem 0.2rem black;
}

#player{
    position: absolute;
    bottom: 4vh;
    left: 4vw;
    max-width: 50%;
}

#info, #move{
    font-size: 2rem;
}