:root{
    --backcolor: #24252a;
}

body{
    
    background-color: var(--backcolor);
    
    #startScreen{
        text-align: center;
        padding: 5em;

        #title{
            color: aqua;
            font-size: 72px;
            text-shadow: 0.1em 0.1em black;
        }

        #score{
            color: aqua;
            font-size: 36px;
            text-shadow: 0.1em 0.1em black;
        }

        #startBtn{
            height: 2em;
            width: 4em;
            background-color: var(--backcolor);
            border: 2px solid aqua;
            border-radius: 1em 1em 1em 1em;
            font-size: 36px;
            color: aqua;
            transition: all 0.3s ease 0s;
        }

        #startBtn:hover{
            background-color: aqua;
            color: var(--backcolor);
        }
    }
    
    #game{
        
        display: none;

        #backBtn{
            background-color: var(--backcolor);
            border: 0;
            font-size: 36px;
            color: aqua;
            position: fixed;
            top: 5%;
            left: 5%;
        }

        #winner{
            text-align: center;
            color: aqua;
            font-size: 42px;
            text-shadow: 0.1em 0.1em black;
        }

        #gamescore{
            text-align: center;
            color: aqua;
            font-size: 36px;
            text-shadow: 0.1em 0.1em black;
        }

        #player{
            position: absolute;
            bottom: 10%;
            left: 10%;
            width: 40%;

            #info{
                color: aqua;
                font-size: 42px;
                text-shadow: 0.1em 0.1em black;
            }
            
            #rock{
                height: 3em;
                width: 6em; 
                background-color: var(--backcolor);
                color: aqua;
                font-size: 24px;
                margin: 3%;
                border-radius: 1em 1em 1em 1em;
                transition: all 0.3s ease 0s;                   
            }

            #rock:hover{
                background-color: aqua;
                color: var(--backcolor);
            }
            
            #paper{
                height: 3em;
                width: 6em; 
                background-color: var(--backcolor);
                color: aqua;
                font-size: 24px;
                margin: 3%;
                border-radius: 1em 1em 1em 1em;
                transition: all 0.3s ease 0s;               
            }

            #paper:hover{
                background-color: aqua;
                color: var(--backcolor);
            }
            
            #scissors{
                height: 3em;
                width: 6em; 
                background-color: var(--backcolor);
                color: aqua;
                font-size: 24px;
                margin: 3%;
                border-radius: 1em 1em 1em 1em;
                transition: all 0.3s ease 0s;               
            }

            #scissors:hover{
                background-color: aqua;
                color: var(--backcolor);
            }
        }

        #computer{
            position: absolute;
            bottom: 10%;
            right: 10%;
            width: 30%;
            
            #move{
                color: aqua;
                font-size: 42px;
                text-shadow: 0.1em 0.1em black;
            }
        }
    }
}