:root{
    --backcolor: rgba( 14.12%, 14.51% , 16.47%, 1);
    --lightbackcolor:  rgba( 14.12%, 14.51% , 16.47%, 0.5);
}

*{
    color: white;
}

.Calc-body{
    text-align: center;
    margin-top: 3%;
    width: 18.6rem;
}

#input{
    width:  100%;
    height: 3.4rem;
    padding: 2px;
    font-size: 2rem;
    border: 2px solid aqua;
    background-color: #24252A;
    overflow-x: auto;
    overflow-y: hidden;
}

.btns{
    display: grid;
    grid-template: repeat(5, 4.7rem) / repeat(4, 4.7rem);
}

.input-btn{
    font-size: 36px;
    background-color: var(--backcolor);
    transition: all 0.5s ease 0s;
}

.input-btn:hover{
    background-color: var(--lightbackcolor);
    color: aqua;
}

#btnEqual{
    width: 300px;
}